In [43]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [44]:
df = pd.read_csv("Telco-Customer-Churn.csv")
print("shape:", df.shape)
# replace space by np.nan
df.loc[df['PagoTotal'] == " ", 'PagoTotal'] = np.nan
# convert to float
df['PagoTotal'] = df['PagoTotal'].astype(float)
df.head()

shape: (7043, 18)

,ID,Sexo,CiudadanoSenior,Partner,Dependientes,Antiguedad,Telefonia,MultiplesLineas,Internet,ProteccionDispositivos,SoporteTecnico,StreamingTV,TipoContrato,E-Boleta,MetodoPago,PagoMensual,PagoTotal,Fuga
0,0002-ORFBO,F,0.0,Si,Si,9.0,Si,No,DSL,No,Si,Si,1ano,Si,boleta,65.6,593.30,No
1,0003-MKNFE,M,0.0,No,No,9.0,Si,Si,DSL,No,No,No,Mensual,No,boleta,59.9,542.40,No
2,0004-TLHLJ,M,0.0,No,No,4.0,Si,No,Fibra Optica,Si,No,No,Mensual,Si,pago online,73.9,280.85,Si
3,0011-IGKFF,M,1.0,Si,No,13.0,Si,No,Fibra Optica,Si,No,Si,Mensual,Si,pago online,98.0,1237.85,Si
4,0013-EXCHZ,F,1.0,Si,No,3.0,Si,No,Fibra Optica,No,Si,Si,Mensual,Si,boleta,83.9,267.40,Si

In [45]:
df.describe().round(2)

       CiudadanoSenior  Antiguedad  PagoMensual  PagoTotal
count          7041.00     7035.00      7038.00    7030.00
mean              0.16       32.28        64.77    2295.03
std               0.37       24.76        30.09    2357.60
min               0.00     -100.00        18.25      18.80
25%               0.00        9.00        35.51     401.35
50%               0.00       29.00        70.35    1397.10
75%               0.00       55.00        89.85    3795.21
max               1.00       72.00       118.75   41460.50

In [46]:
# eliminamos valores outliers
df.loc[df.Antiguedad < 0, 'Antiguedad'] = np.nan
df.loc[df.PagoTotal > 8000, 'PagoTotal'] = np.nan

In [47]:
print(df.isna().sum().sum()) # solo 122 NaN, omitiremos los valores perdidos
df = df.dropna()

122

In [48]:
# reemplazamos los valores mas comunes
df = df.replace(to_replace='Si', value=1)
df = df.replace(to_replace='No', value=0)
df = df.replace(to_replace='No internet service', value=-1)
# dict TipoContrato
df = df.replace({'TipoContrato':{'2ano':2,'1ano':1,'Mensual':0}})
# dict Sexo
df = df.replace({'Sexo':{'F':0,'M':1}})
# dict Internet
df = df.replace({'Internet':{'Fibra Optica':1,'DSL':2}})
# dict MetodoPago
df = df.replace({'MetodoPago':{'pago online':0,'boleta':1,'CC':2,'TC':3}})
df.head()

/var/folders/5y/prcs6fq520s5y531qtjddsb00000gn/T/ipykernel_47003/1232655132.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace(to_replace='No', value=0)
/var/folders/5y/prcs6fq520s5y531qtjddsb00000gn/T/ipykernel_47003/1232655132.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace(to_replace='No internet service', value=-1)
/var/folders/5y/prcs6fq520s5y531qtjddsb00000gn/T/ipykernel_47003/1232655132.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({'TipoContrato':{'2ano':2,'1ano':1,'Mensual':0}})
/var/folders/5y/prcs6fq520s5y531qtjddsb00000gn/T/ipykernel_47003/1232655132.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({'Sexo':{'F':0,'M':1}})
/var/folders/5y/prcs6fq520s5y531qtjddsb00000gn/T/ipykernel_47003/1232655132.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({'Internet':{'Fibra Optica':1,'DSL':2}})
/var/folders/5y/prcs6fq520s5y531qtjddsb00000gn/T/ipykernel_47003/1232655132.py:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({'MetodoPago':{'pago online':0,'boleta':1,'CC':2,'TC':3}})

,ID,Sexo,CiudadanoSenior,Partner,Dependientes,Antiguedad,Telefonia,MultiplesLineas,Internet,ProteccionDispositivos,SoporteTecnico,StreamingTV,TipoContrato,E-Boleta,MetodoPago,PagoMensual,PagoTotal,Fuga
0,0002-ORFBO,0,0.0,1,1,9.0,1,0,2,0,1,1,1,1,1,65.6,593.30,0
1,0003-MKNFE,1,0.0,0,0,9.0,1,1,2,0,0,0,0,0,1,59.9,542.40,0
2,0004-TLHLJ,1,0.0,0,0,4.0,1,0,1,1,0,0,0,1,0,73.9,280.85,1
3,0011-IGKFF,1,1.0,1,0,13.0,1,0,1,1,0,1,0,1,0,98.0,1237.85,1
4,0013-EXCHZ,0,1.0,1,0,3.0,1,0,1,0,1,1,0,1,1,83.9,267.40,1

In [49]:
df.describe().round(1)

,Sexo,CiudadanoSenior,Partner,Dependientes,Antiguedad,Telefonia,MultiplesLineas,Internet,ProteccionDispositivos,SoporteTecnico,StreamingTV,TipoContrato,E-Boleta,MetodoPago,PagoMensual,PagoTotal,Fuga
count,6922.0,6922.0,6922.0,6922.0,6922.0,6922.0,6922.0,6922.0,6922.0,6922.0,6922.0,6922.0,6922.0,6922.0,6922.0,6922.0,6922.0
mean,0.5,0.2,0.5,0.3,31.9,0.9,0.4,1.1,0.1,0.1,0.2,0.7,0.6,1.3,64.2,2213.8,0.3
std,0.5,0.4,0.5,0.5,24.3,0.3,0.5,0.7,0.7,0.7,0.8,0.8,0.5,1.1,29.8,2188.3,0.4
min,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-1.0,-1.0,-1.0,0.0,0.0,0.0,18.2,18.8,0.0
25%,0.0,0.0,0.0,0.0,9.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,35.2,390.5,0.0
50%,1.0,0.0,0.0,0.0,28.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,70.2,1375.5,0.0
75%,1.0,0.0,1.0,1.0,54.8,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,89.6,3660.8,1.0
max,1.0,1.0,1.0,1.0,72.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,3.0,118.6,7998.8,1.0

In [50]:
df.to_csv("Telco-Customer-Churn-SP.csv", index=False)